# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyc

# Compilation
.sass-cache/
_site/

# Logs and db's
*.log
*.sql
*.sqlite

assets/images/
maps/
# Ignore all images in the items directory
vendor/bundle

vault/.obsidian
vault/.trash
vault/scripts/__pycache__
.obsidian

# Antigravity / Gemini
.antigravitycli/
.gemini/
