<header id="{{ include.area_name | slugify }}" class="header {% if include.inverted %}inverted{% endif %}">
  <div class="container">
    <div class="logo-and-title-container">
      <!--
        <a href="{{ '/' | relative_url }}">
        	<img src="{{ '/assets/icons/logoR.png' | relative_url }}" alt="{{ site.author }}" style="max-height: 50px;">
        </a>
      -->
      <div class="title-group">
        <h1 class="logo rouge-first">
          <a title="{{ site.author }}" href="{{ '/' | relative_url }}">{{ site.author }}</a>
        </h1>

        <h2>
          {% assign area_anchor = include.area_name | slugify %}
          {% assign index_url = '/index.html' | relative_url %}
          {% if page.layout != 'home' %}
            <a href="{{ index_url }}#{{ area_anchor }}">
              <span class="main-area-title">{{ include.subTitle }}</span>
            </a>
          {% else %}
            <span class="main-area-title">{{ include.subTitle }}</span>
          {% endif %}
          <span class="other-areas">
            {% assign all_areas = site.data.areas %}
            {% assign current_area_name = include.area_name %}
            {% for area in all_areas %}
              {% if include.is_first or area.name != current_area_name %}
                {% if include.is_first and forloop.first %}
                  {% continue %}
                {% endif %}
                {% assign anchor_id = area.name | slugify %}
                {% assign final_link_path = index_url | append: '#' | append: anchor_id %}
                {% capture area_link_title %}
                  {% if area.title %}
                    {{ area.title }}
                  {% else %}
                    {% include humanize_name.html value=area.name %}
                  {% endif %}
                {% endcapture %}
                {% assign area_link_title = area_link_title | strip %}
                <a href="{{ final_link_path }}" class="nav-other-area-link"><span>{{ area_link_title }}</span></a>
              {% endif %}
            {% endfor %}
          </span>
        </h2>
      </div>
      <div class="header-links">
        {% assign pages = site[include.area_name] | where: 'type', 'page' %}

        {% for page in pages %}
          <a href="{{ page.url | relative_url }}" class="rouge-first white-under"> {{ page.title }} </a>
        {% endfor %}
      </div>
    </div>
  </div>
</header>
