<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body class="black home-layout{% if site.theme.home_hero_landing %} home-hero-enabled{% endif %}{% if site.theme.home_hero_follow_theme == false %} home-hero-fixed-dark{% endif %}">
    <main class="home">
      {{ content }}
    </main>
    {% include footer.html %}
    <!-- <script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | relative_url }}"></script> -->
    <script src="{{ '/assets/scripts/home.js' | relative_url }}"></script>
  </body>
</html>
