<!doctype html>
<html lang="en">
  <head>
    <title>
      {{ site.author }}
      /
      {{ page.title }}
    </title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
    <meta name="keywords" content="{{ page.meta.keywords }}">
    {% include head.html %}
  </head>

  <body class="black">
    {% assign area_name = page.collection %}
    {% assign area = site.data.areas | where: 'name', area_name | first %}
    {% assign area_title = area.title %}
    {% include headerCustom.html subTitle=area_title inverted=true area_name=area_name %}

    <div class="container arrow-div">
      <a style="padding: 10px;" class="black-under" href="{{ site.baseurl }}/index.html" class="bigger">
        <i class="arrow left"></i>
      </a>
    </div>

    <main class="content item-content">
      <section class="project">
        <div class="container">
          <article>
            <span class="h2" style="padding-top: 1rem;">Title</span>
            <h1>
              {{ page.title }}
            </h1>
            {% if page.subtitle %}
              <h2 class="subtitle">
                {{ page.subtitle }}
              </h2>
            {% endif %}

            <div class="project-meta">
              {% if page.author %}
                <span class="h2">Author</span>
                <p>{{ page.author }}</p>
              {% endif %}

              {% if page.year %}
                <span class="h2">Year</span>
                <p>{{ page.year }}</p>
              {% endif %}

              {% if page.license %}
                <span class="h2">License</span>
                {% for license in page.license %}
                  <p class="rouge-first">
                    <a class="black-under" href="{{ license.url }}">{{ license.name }}</a>
                  </p>
                {% endfor %}
              {% endif %}

              {% if page.sources %}
                <span class="h2">Sources</span>
                {% for source in page.sources %}
                  <p class="rouge-first">
                    <a class="black-under" href="{{ source.url }}" target="_blank" rel="nofollow">{{ source.name }}</a> {% if source.author %}<span class="source-author-h2-style">
                        {{ source.author }}
                      </span>
                      {% if source.license -%}
                        <br>
                        {{ source.license -}}
                      {%- endif %}
                    {% endif %}
                  </p>
                {% endfor %}
              {% endif %}

              {% if page.techs %}
                <span class="h2">Technologies</span>
                {% for tech in page.techs %}
                  <p class="rouge-first">
                    {% if tech.url %}
                      <a class="black-under" href="{{ tech.url }}" target="_blank" rel="nofollow">{{ tech.name }}</a>
                    {% else %}
                      {{ tech.name }}
                    {% endif %}
                  </p>
                {% endfor %}
              {% endif %}



              {% if page.code %}
                <span class="h2">Code</span>
                {% for item in page.code %}
                  <p class="rouge-first">
                    <a
                      class="black-under"
                      title="{{ item.name }}"
                      href="{{ item.url }}"
                      target="_blank"
                      rel="nofollow"
                    >
                      {{ item.name }}
                    </a>
                  </p>
                {% endfor %}
              {% endif %}

              {% assign files_to_display = "" | split: "," %}
              {% for item in page.images %}
                {% if item.file %}
                  {% assign files_to_display = files_to_display | push: item %}
                {% endif %}
              {% endfor %}

              {% if files_to_display.size > 0 %}
                <span class="h2">Files</span>
                {% for file_item in files_to_display %}
                  <p class="rouge-first">
                    <a
                      class="black-under"
                      href="{{ site.baseurl }}/assets/images/{{ file_item.name | split: '.' | first }}/{{ file_item.name }}"
                      download="{{ file_item.name | split: '.' | first }}"
                      target="_blank"
                      rel="nofollow"
                    >
                      {{ file_item.title }}
                    </a>
                  </p>
                {% endfor %}
              {% endif %}

              <!-- <span class="h2">Description</span> -->
              <!-- {{ page.content }} -->
            </div>
          </article>
          <aside>
            <ul class="lightbox-gallery">
              {% for image in page.images %}
                {% if image.display != false %}
                  {% assign img = image.name | split: '.' | first %}
                  <li>
                    {% if image.map %}
                      <div class="img-wrapper-2" style="position: relative; top: 0; left: 0;">
                        <a
                          class="mfp-image"
                          href="/assets/images/{{ img }}/large.{{site.img_ext}}"
                          data-map-url="{{site.baseurl}}/maps/{{img}}.html"
                        >
                          <img
                            class="load-hidden"
                            src="{{site.baseurl}}/assets/images/{{ img }}/medium.{{site.img_ext}}"
                            style="aspect-ratio: {{ site.data.size[img].medium }};"
                            alt="{{ image.alt }}"
                          >
                        </a>
                        <a class="map-icon" href="{{site.baseurl}}/maps/{{img}}.html">
                            <img src="{{site.baseurl}}/assets/icons/fs-s.png" alt="Map Icon">
                        </a>
                      </div>
                    {% else %}
                      <div class="img-wrapper-2" style="position: relative; top: 0; left: 0;">
                        <a class="mfp-image" href="/assets/images/{{ img }}/large.{{site.img_ext}}">
                          <img
                            class="load-hidden"
                            src="/assets/images/{{ img }}/medium.{{site.img_ext}}"
                            alt="{{ image.alt }}"
                          >
                        </a>
                      </div>
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </aside>
        </div>
      </section>

      {% assign area = site.data.areas | where: 'name', page.collection | first %}
      {% assign category = page.path | split: '/' | pop | last %}
      {% assign allItems = site[page.collection] %}

      <!--
        all items with the given category based on path
        (there is no way to filter the array in liquid)
      -->

      {% assign items = '' | split: '' %}
      {% for item in allItems %}
        {% assign c = item.url | split: '/' | pop | last %}
        {% if c == category %}
          {% assign items = items | push: item %}
        {% endif %}
      {% endfor %}

      <!-- looking for previous and next items according to area.categories -->

      {% assign i = 0 %}
      {% for item in items %}
        {% if item == page %}
          {% assign itemIndex = i %}
        {% endif %}
        {% assign i = i | plus: 1 %}
      {% endfor %}

      {% assign previousIndex = itemIndex | minus: 1 %}
      {% assign nextIndex = itemIndex | plus: 1 %}

      {% assign cats = area.categories %}
      {% assign k = 0 %}
      {% for cat in cats %}
        {% if cat.name == category %}
          {% assign catIndex = k %}
        {% endif %}
        {% assign k = k | plus: 1 %}
      {% endfor %}

      {% assign previousCatIndex = catIndex | minus: 1 %}
      {% assign nextCatIndex = catIndex | plus: 1 %}

      {% if previousIndex < 0 %}
        {% assign lastCat = cats[previousCatIndex].name %}
        {% assign itemsLastCat = '' | split: '' %}
        {% for item in allItems %}
          {% assign c = item.url | split: '/' | pop | last %}
          {% if c == lastCat %}
            {% assign itemsLastCat = itemsLastCat | push: item %}
          {% endif %}
        {% endfor %}
        {% assign lastItem = itemsLastCat | last %}
        <!--
          previous in previous cat with round <a href="{{ lastItem.url }}">{{
          lastItem.title }}</a>
          <br>
        -->

        {% if previousCatIndex < 0 %}
          <!-- previous in previous cat: You are on the first item of the first cat <br> -->

        {% else %}
          {% assign lastCat = cats[previousCatIndex].name %}

          {% assign itemsLastCat = '' | split: '' %}
          {% for item in allItems %}
            {% assign c = item.url | split: '/' | pop | last %}
            {% if c == lastCat %}
              {% assign itemsLastCat = itemsLastCat | push: item %}
            {% endif %}
          {% endfor %}

          {% assign lastItem = itemsLastCat | last %}
          {% assign previousLink = lastItem.url %}
          {% assign previousTitle = lastItem.title %}
          <!-- previous in previous cat -->
        {% endif %}

      {% else %}
        {% assign previousLink = items[previousIndex].url %}
        {% assign previousTitle = items[previousIndex].title %}

        <!-- previous -->
      {% endif %}

      {% if nextIndex == items.size %}
        {% if nextCatIndex == cats.size %}
          <!-- next in next cat: You are on the last item of the last cat <br> -->

        {% else %}
          {% assign nextCat = cats[nextCatIndex].name %}

          {% assign itemsNextCat = '' | split: '' %}
          {% for item in allItems %}
            {% assign c = item.url | split: '/' | pop | last %}
            {% if c == nextCat %}
              {% assign itemsNextCat = itemsNextCat | push: item %}
            {% endif %}
          {% endfor %}

          {% assign firstItem = itemsNextCat | first %}
          {% assign nextLink = firstItem.url %}
          {% assign nextTitle = firstItem.title %}

          <!-- next in next cat -->
        {% endif %}

        {% if nextCatIndex == cats.size %}
          {% assign nextCatIndex = 0 %}
        {% endif %}

        {% assign nextCat = cats[nextCatIndex].name %}

        {% assign itemsNextCat = '' | split: '' %}
        {% for item in allItems %}
          {% assign c = item.url | split: '/' | pop | last %}
          {% if c == nextCat %}
            {% assign itemsNextCat = itemsNextCat | push: item %}
          {% endif %}
        {% endfor %}

        {% assign firstItem = itemsNextCat | first %}

        <!--
          next in next cat with round
          <a href="{{ firstItem.url }}">{{ firstItem.title }}</a>
          <br>
        -->

      {% else %}
        {% assign nextLink = items[nextIndex].url %}
        {% assign nextTitle = items[nextIndex].title %}
        <!-- next -->
      {% endif %}

      <section class="project-navigation">
        <div class="container">
          {% if previousLink %}
            <a class="prev" title="Previous {{ previousTitle }}" href="{{ previousLink | prepend: site.baseurl }}">
              <span class="h2">Previous</span>
              <h2>{{ previousTitle }}</h2>
            </a>
          {% else %}
            <a class="prev"></a>
          {% endif %}

          {% if nextLink %}
            <a class="next" title="Next {{ nextTitle }}" href="{{ nextLink | prepend: site.baseurl }}">
              <span class="h2">Next</span>
              <h2>{{ nextTitle }}</h2>
            </a>
          {% else %}
            <a class="next"></a>
          {% endif %}
        </div>
      </section>
    </main>
    {% include footer.html %}
    <script src="{{ '/assets/scripts/vendor/jquery-1.12.4.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/scripts/vendor/jquery.magnific-popup.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/scripts/lightbox.js' | prepend: site.baseurl }}"></script>
    <!-- <script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script> -->
    <script src="{{ '/assets/scripts/vendor/sticky-kit.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/scripts/project.js' | prepend: site.baseurl }}"></script>
  </body>
</html>

