<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body class="black item-layout">
    {% include area-header.html area_name=page.collection show_theme_toggle=true show_back=true %}

    <main class="content item-content">
      <section class="project">
        <div class="container">
          <article>
            <span class="h2" style="padding-top: 1rem;">Title</span>
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
              <h2 class="subtitle">{{ page.subtitle }}</h2>
            {% endif %}

            {% include item-meta.html %}
          </article>

          <aside>
            {% include item-gallery.html %}
          </aside>
        </div>
      </section>

      {% include item-navigation.html %}
    </main>

    {% include footer.html %}
    <script>
      window.SITE = {
        baseurl: '{{ "/" | relative_url }}',
      };
    </script>
    <script src="{{ '/assets/scripts/vendor/jquery-1.12.4.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/vendor/jquery.magnific-popup.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/lightbox.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/vendor/sticky-kit.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/project.js' | relative_url }}"></script>
  </body>
</html>
