<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body class="black page-layout">
    <main class="home">
    {% assign area_name = page.collection %}
    {% assign area = site.data.areas | where: 'name', area_name | first %}
    {% capture area_title %}
      {% if area.title %}
        {{ area.title }}
      {% else %}
        {% include humanize_name.html value=area.name %}
      {% endif %}
    {% endcapture %}
    {% assign area_title = area_title | strip %}
      {% include header.html subTitle=area_title inverted=true area_name=area_name show_theme_toggle=true %}
      {% if page.back != false %}
        <div class="container arrow-div">
          {% assign area_anchor = area_name | slugify %}
          {% assign back_href = '/' | relative_url %}
          <a style="padding: 10px;" class="black-under" href="{{ back_href }}#{{ area_anchor }}" class="bigger">
            <i class="arrow left"></i>
          </a>
        </div>
      {% endif %}
      <section class="projects">
        <div class="container">
          <h1 class="cat-title projects">{{ page.title }}</h1>
          <div id="page-content">
            {{ content }}
          </div>
        </div>
      </section>
    </main>
    {% include footer.html %}
    <!-- <script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | relative_url }}"></script> -->
    <script src="{{ '/assets/scripts/vendor/jquery-1.12.4.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/vendor/jquery.magnific-popup.min.js' | relative_url }}"></script>
    <script>
      window.PAGE_IMAGE_EXT = {{ site.img_ext | jsonify }};
      window.PAGE_BASEURL = {{ '' | relative_url | jsonify }};
    </script>
    <script src="{{ '/assets/scripts/page-wikilink-lightbox.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/home.js' | relative_url }}"></script>
  </body>
</html>
